################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MandateBasic/bin/Debug
/MandateBasic/obj/Debug
/MandateClass/obj/Debug
/Shared/bin/Debug/netstandard2.0
/Shared/obj
/MandateStrategy/obj/Debug
